# Core
numpy
pandas
scipy

# Machine Learning
scikit-learn
imbalanced-learn

# Deep Learning
torch
torchvision
transformers

# Interpretabilità
shap

# Visualizzazione
matplotlib
seaborn
plotly

# Dataset Kaggle and Hugging Face
kaggle
huggingface_hub

# Configurazione e utilità
pyyaml
tqdm
joblib
tabulate
